{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - Mock
    {% else %}
        Üdv a Mock oldalon!
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}
