{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - Mock
    {% else %}
        Üdv a Mock oldalon!
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <!-- TODO -->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- TODO -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- TODO -->
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- TODO -->
    </div>

    {% block app_content %}
    {% endblock %}
{% endblock %}
